@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Appview {
  background-color: #282c34;
  height: 100%;
  color: white;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.board {
  overflow:hidden;
  position: relative;
  bottom: 0;
  border: solid 3vw black;
  padding: 0;
  width: 90vw; height: 90vw;
  border-radius: 50%;
  list-style: none;
  bottom: 0px;
}

.bull {
  position: relative;
  margin-left: 34vw;
  margin-top: 34vw;
  border: solid 7vw black;
  padding: 0;
  width: 10vw; height: 10vw;
  list-style: none;
background-color: red;
border-radius: 50%;
display: inline-block;
}


@-webkit-keyframes fill { 
  to {
   background-size: 100% 0; 
   }
  } 
  
  @keyframes fill { 
  to { 
   background-size: 100% 0;
   }
  }

.slice {
  overflow: hidden;
  position: absolute;
  top: 0; right: 0;
  width: 45vw; height: 45vw;
  transform-origin: 0% 100% ; 
  border: solid 1px black;
  
}

.slice:nth-child(1) { transform: rotate(9deg) skewY(-70deg); }
.slice:nth-child(2) { transform: rotate(27deg) skewY(-70deg); }
.slice:nth-child(3) { transform: rotate(45deg) skewY(-70deg); }
.slice:nth-child(4) { transform: rotate(63deg) skewY(-70deg); }
.slice:nth-child(5) { transform: rotate(81deg) skewY(-70deg); }
.slice:nth-child(6) { transform: rotate(99deg) skewY(-70deg); }
.slice:nth-child(7) { transform: rotate(117deg) skewY(-70deg); }
.slice:nth-child(8) { transform: rotate(135deg) skewY(-70deg); }
.slice:nth-child(9) { transform: rotate(153deg) skewY(-70deg); }
.slice:nth-child(10) { transform: rotate(171deg) skewY(-70deg); }
.slice:nth-child(11) { transform: rotate(189deg) skewY(-70deg); }
.slice:nth-child(12) { transform: rotate(207deg) skewY(-70deg); }
.slice:nth-child(13) { transform: rotate(225deg) skewY(-70deg); }
.slice:nth-child(14) { transform: rotate(243deg) skewY(-70deg); }
.slice:nth-child(15) { transform: rotate(261deg) skewY(-70deg); }
.slice:nth-child(16) { transform: rotate(279deg) skewY(-70deg); }
.slice:nth-child(17) { transform: rotate(297deg) skewY(-70deg); }
.slice:nth-child(18) { transform: rotate(315deg) skewY(-70deg); }
.slice:nth-child(19) { transform: rotate(333deg) skewY(-70deg); }
.slice:nth-child(20) { transform: rotate(351deg) skewY(-70deg); border-bottom: solid 2px black;}

.slice-contents {
  position: relative;
  width: 200%; height: 200%;
  background: black;
  color: whitesmoke;
}

.slice-contents:hover {
  background: #13aa52;
}

.slice-contents-wheat {
  position: relative;
  width: 200%; height: 200%;
  color: black;
  background: wheat;
}

.slice-contents-wheat:hover {
  background: #13aa52;
}

.p-slice{
margin: 0 0 0 0;
position: relative;
top: 20vw;
left: 0vh;
transform:  skewX(15deg) skewY(-10deg) scaleY(4);
font-size: smaller;
font-family: 'Trebuchet MS', sans-serif;
user-select: none;
pointer-events: none;
}
.button-normal {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.dart-img {
height: 2vh;
float: right;
transform: rotate(-20deg);
}

.button-dart {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  width: 33vw;
  height: 6vh;
  border-radius: 4px;
  font-size: 3vh;
  font-weight: 400;
  outline: none;
  outline: 0;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
}

.darts{
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.multiplier-fullscreen{
height: 100%;
width: 100%;
position: absolute;
top: 0;
left: 0;
background-color: #282c34;
}

.double{
  color: white;
  background-color: #13aa52;
  height: 60%;
  width: 100%;
}

.triple{
  color: white;
  background-color: red;
  height: 40%;
  width: 100%;
}

.multiplier-counter {
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}

button:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  button {
    padding: 10px 30px;
  }
}


.noselect {
  user-select: none;
  pointer-events: none;
}

.active {
color: green;
}

.not-active {
  color: white;

}

h1{

  user-select: none;
  pointer-events: none;
}

